.image {
    width: 80%; /* Ensure image adapts */
    max-width: 300px; /* Limit maximum width for smaller screens */
}

      @media (max-width: 768px) {
    header {
        width: 90%; /* Adjust width for smaller screens */
        padding: 20px;
    }
    header h1 {
        font-size: 3em; 
    }
    header h2 {
        font-size: 2em;
    }
    header h3 {
        font-size: 1.5em;
    }
    header p {
        font-size: 1em;
    }
    
    .container {
        max-width: 90%; /* Adjust container width */
        grid-template-columns: 1fr; /* Single-column layout */
    }
    .card {
        padding: 10px;
    }
    .card h2 {
        font-size: 1.5em;
    }
    .card p, .card ul {
        font-size: 1em;
    }
    footer p h1 {
        font-size: 1em;
    }
    .button-class_resume {
        font-size: 20px;
        padding: 10px 20px;
    }
    .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 0.8em;
    }
}
